
 

    
  <br /><br /><br />
  <div class="container">
    <!--<app-publicacoes #publicacoes></app-publicacoes>-->
    <!--app-tickets-cliente *ngfor></app-tickets-cliente>-->
    
    <div class="row" *ngFor="let tickets of ticketsCliente">
        <div class="card-body">         
          <p class="card-text">{{tickets.idTicket}}</p>
        </div>
        <div class="card-footer">
          <!-- <button type="button" class="btn btn-default" (click)="edit(contato, contato.key)">Editar</button>
          <button type="button" class="btn btn-danger ml-2" (click)="delete(contato.key)">Excluir</button> -->
        </div>
      </div>
  
  </div>

