<nav class="navbar fixed-top navbar-light bg-white">
  <div class="container">
    <div class="logo"></div>
    <div>
      <!--<div class="add-post" data-toggle="modal" data-target="#exampleModal"></div>-->
      <a href="#" (click)="sair()" style="margin-left: 25px">Sair</a>
    </div>
  </div>  
</nav>


<br /><br /><br />
<div class="container">  
    <button type="button" class="btn btn-primary">Novo Chamado</button>
  <div *ngIf="itensTicket !== undefined">
      <div class="row">  
          <div class="col-sm-12 d-flex justify-content-center">                  
              <div class="col-sm-4">                   
                  <h5 class="modal-title">Assunto</h5>
              </div>
              <div class="col-sm-4">                   
                  <h5 class="modal-title"> Status </h5>
              </div>
              <div class="col-sm-2">                   
                  <h5 class="modal-title"> Vencimento </h5>
              </div>
          </div>           
        </div>
              <div class="row" *ngFor="let publicacao of itensTicket">
                 <div class="col-sm-12 d-flex justify-content-center">                  
                      <div class="col-sm-4">                   
                            {{publicacao.assunto}}
                      </div>
                   
                      <div class="col-sm-4">
                            {{publicacao.status}}
                      </div>                  
                      <div class="col-sm-2">
                            {{publicacao.dateSla}}
                      </div>                 
                  </div>
              </div> 
              
  </div>  
</div>

