<nav class="navbar fixed-top navbar-light bg-white">
  <div class="container">
    <div class="logo"></div>
    <div>
      <!--<div class="add-post" data-toggle="modal" data-target="#exampleModal"></div>-->
      <a href="#" (click)="sair()" style="margin-left: 25px">Sair</a>
    </div>
  </div>  
</nav>


<br /><br /><br />
<div class="container">
  <!--<app-publicacoes #publicacoes></app-publicacoes>-->
  <!--<div *ngIf="itensTicket !== undefined">
    {{ itensTicket }}
    <app-tickets-cliente [itensTicket]=itensTicket></app-tickets-cliente>
  </div>
  -->
  <div *ngIf="itensTicket !== undefined">

    <div class="row" *ngFor="let publicacao of itensTicket">
        <div class="col d-flex justify-content-center">
          
          {{ publicacao.key }}
          {{ publicacao.assunto }}
          {{ publicacao.status }}
          {{ publicacao.dateSla }}
                

          <!--<div class="card">
            <div class="card-body">
              <p class="card-text"><strong>{{ publicacao.assunto }}</strong></p>
            </div>
          </div>
          -->
        </div>
    </div>
    <!--
    {{ itensTicket | json }}
    
    <p *ngFor="let item of itensTicket">{{ itensTicket.assunto }}</p>
    -->
  </div>  

  <!--Modal de inclusão deve ficar como último elemento e só será apresentado quando data-toggle for disparado na div 'add-post'-->
  <!--<app-incluir-publicacao (atualizarTimeLine)="atualizarTimeLine($event)" ></app-incluir-publicacao>-->
</div>