<nav class="navbar fixed-top navbar-light bg-white">
  <div class="container">
    <div class="logo"></div>
    <div>
      <!--<div class="add-post" data-toggle="modal" data-target="#exampleModal"></div>-->
      <a href="#" (click)="sair()" style="margin-left: 25px">Sair</a>
    </div>
  </div>  
</nav>


<br /><br /><br />
<div class="container">
  <!--<app-publicacoes #publicacoes></app-publicacoes>-->
   <app-tickets-cliente [tickets]=ticketsCliente></app-tickets-cliente>


  <!--Modal de inclusão deve ficar como último elemento e só será apresentado quando data-toggle for disparado na div 'add-post'-->
  <!--<app-incluir-publicacao (atualizarTimeLine)="atualizarTimeLine($event)" ></app-incluir-publicacao>-->
</div>